.album-cover {
    height: 100%;
    width: 90%;
}

.track-list {
    margin: 0% 30% 0% 30%;

}

.full-comp {
    max-height: 100vh;
    height: 75vh;
    width: 50%;
    overflow: auto;
 
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.comp-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.comp-sub {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 200;
}

.comp-text {
    margin-bottom: 2%;
}