@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,900;1,200;1,900&display=swap');
#TopRight{
    height:100vh;
    width: 50%;
    float:right;
}

.Navbar{
    float:right;
    font-family:sans-serif,;  
}


