.Login {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #000000;
  background: linear-gradient(to right, #779cab, #32da8a);
  padding-bottom: 100px
}

.Name {
    font-size: 85px;
}

.Slogan {
    font-style: oblique;
    font-size: 25px;
}
.button {
    
}